
<link rel="stylesheet" href="../css/index.css">
    <script type="text/javascript" src="../js/main.js"></script>
 <link href='../css/main.css' rel='stylesheet' />
    <script src='../js/fullcalendarmain.js'></script>

	<section class="hero is-info is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
          	Cassoma Escola 
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
     <span class="navbar-item">

	<form action="/login/logout?_method=DELETE"  method=POST>
	<button class="button is-danger is-large	" type="submit"> Sair </button>
	</form>
	</span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body ">
    <div class="container has-text-centered">
      <p class="title is-1">

       <img src="https://api.multiavatar.com/'<%= Math.random(); %>'.png" style="width:150px; height:150px;" > 
      </p>
      <br>
        <p class="subtitle is-1">
            Ola <%= username %>  é bom te ver se aplicando na escola
</p>
    <br>
    <div class="columns">
  <div class="column">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    Curso : <%= curse %> 
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
  <div class="column">
    <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Ano <%= curse_year %>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
  <div class="column">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
     Numero do Aluno <%= student_number %>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
  <div class="column">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Proprinas <%= proprinas %>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
</div>
    
    </div>
  </div>

    <br>



  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a class="js-modal-trigger" data-target="modal-js-example" >Calendario</a></li>
          <li><a>Materia</a></li>
          <li><a>Atividades</a></li>
      
        </ul>
      </div>
    </nav>
  </div>
    </section>





<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>
    <div class="modal-content">
      <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">New User</h2>
            <span class="text-light">Use the below form to create a new account</span>
        </div>

        <!-- add user form -->
 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Mark Stoenis">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" >
                <label for="radio-2" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" >
                <label for="radio-3" class="radio-label">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>       
    </div>
</div>
  <button class="modal-close is-large" aria-label="close"></button>
    </div>

