 
<link rel="stylesheet" href="../css/index.css">
    <script type="text/javascript" src="../js/main.js"></script>
 <link href='../css/main.css' rel='stylesheet' />
    <script src='../js/fullcalendarmain.js'></script>

	<section class="hero is-light is-fullheight">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
          	Cassoma Escola 
          </a>
          <span class="navbar-burger" data-target="navbarMenuHeroC">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroC" class="navbar-menu">
          <div class="navbar-end">
     <span class="navbar-item">

	<form action="/login/logout?_method=DELETE"  method=POST>
	<button class="button is-danger is-large	" type="submit"> Sair </button>
	</form>
	</span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-body ">
    <div class="container has-text-centered">
      <p class="title is-1">

       <img src="https://api.multiavatar.com/'<%= Math.random(); %>'.png" style="width:150px; height:150px;" > 
      </p>
      <br>
        <p class="subtitle is-1">
            Ola <%= username %>  é bom te ver se aplicando na escola
</p>
    <br>
    <div class="columns">
  <div class="column">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
    Curso : <%= curse %> 
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
  <div class="column">
    <div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Ano <%= curse_year %>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
  <div class="column">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
     Numero do Aluno <%= student_number %>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
  <div class="column">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Proprinas <%= proprinas %>
    </p>
    <button class="card-header-icon" aria-label="more options">
      <span class="icon">
        <i class="fas fa-angle-down" aria-hidden="true"></i>
      </span>
    </button>
  </header>
</div>
</div>
</div>
    
    </div>
  </div>

    <br>



  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a class="js-modal-trigger" data-target="modal-js-example" >Calendario</a></li>
          <li><a>Materia</a></li>
          <li><a>Atividades</a></li>
      
        </ul>
      </div>
    </nav>
  </div>
    </section>





<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>
<div class="modal-content" >
    <div class="content-form" >

        <!-- add user form -->
 <!-- form handling -->
<div class="form-container">
    <form action="/calendar/api/calendars" method="POST" id="add_calendar">
    <div class="field">
  <label for="subject_course" class="label">Disciplina</label>
  <div class="control">
    <input class="input" name="subject_course" style="width: 40%;" type="text" placeholder="e.g Matêmatica">
  </div>
</div>

    <div class="field">
  <label for="detail" class="label">Detalhes</label>
  <div class="control">
    <textarea class="textarea"name="detail" placeholder="e.g. Informação da disciplina"></textarea>

  </div>
    </div>

    <div cass="field">
    <label for="date_start" class="label">Inicio </label>
    <div class="control" >
        <input class="input"  style="width: 10%;" name="date_start" type="text" placeholder="e.g 2002-12-09">
</div>


    <label for="date_end" class="label">Fim </label>
    <div class="control" >
    <input class="input " style="width: 10%;" name="date_end" type="text" placeholder="e.g 2002-12-09">
</div>
    </div>
    <br>
<div class="field">
<div class="buttons ">
  <button  type="submit"  class="button ">Gravar</button>

</div>
    </div>
    </form>
</div>
<br>
<!--- Adding content media -->

<div class="container">
  <% for(var i = 0; i < calendars.length; i++) { %>
<article class="media">
 
  <div class="media-content">
    <div class="content">
      <p>
          <div class="level-left">
                    <a class="level-item">

                    <strong> Artigo <%= i + 1 %></strong> 
                  </a>
                  <a class="level-item">
                          <p>Curso: <%= calendars[i].subject_course %> </p>
                     </a>

        <a class="level-item">
        <small>Inicio: <%= moment(calendars[i].date_start).format('DD-MM-YYYY') %></small> 
      </a>
      <a class="level-item">
        <small> Fim:<%= moment(calendars[i].date_end).format('DD-MM-YYYY') %></small>
      </a>
    </div>
        <span><%= calendars[i].detail %></span>
    </div>
  
  </div>
<hr>

</article>
  <% } %>
</div>

</div>
  <button class="modal-close is-large" aria-label="close"></button>

</div>

